{% if site.share-links-active.twitter %}
  <a class="btn btn-default btn-sm twitter" href="http://twitter.com/share?text={{page.title | encode}}{% if site.author.twitter%}&via={{site.author.twitter}}{% endif %}"
  onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');dataLayer.push({'event': 'twitter-share'});return false;">
  <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
  </a>
{% endif %}

{% if site.share-links-active.facebook %}
  <a class="btn btn-default btn-sm facebook" href="https://www.facebook.com/sharer/sharer.php"
  onclick="window.open(this.href, 'facebook-share','width=580,height=296');dataLayer.push({'event': 'facebook-share'});return false;">
  <i class="fa fa-facebook fa-lg" aria-hidden="true"></i>
  </a>
{% endif %}

{% if site.share-links-active.linkedin %}
  <a class="btn btn-default btn-sm linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url | url_encode }}"
  onclick="window.open(this.href, 'linkedin-share','width=580,height=296');dataLayer.push({'event': 'linkedin-share'});return false;">
  <i class="fa fa-linkedin fa-lg" aria-hidden="true"></i>
  </a>
{% endif %}

{% if site.share-links-active.reddit %}
  <a class="btn btn-default btn-sm reddit" href="https://www.reddit.com/submit?url={{ page.url | absolute_url | url_encode }}"
  onclick="window.open(this.href, 'reddit-share','width=580,height=296');dataLayer.push({'event': 'reddit-share'});return false;">
  <i class="fa fa-reddit fa-lg" aria-hidden="true"></i>
  </a>
{% endif %}
